*{
    text-align: center;
    list-style: none;
}

.slanting{
    font-size: 18px;
    font-style: italic;
}

.nu{
    font-style: normal;
    font-size: 20px;
    font-weight: lighter;
}

a:link{
    color:#000000;
}

a:visited{
    color:#555581;
}

a:hover{
    color:#22a8cf;
}

h1 {
    font-size: 60px;
    width:70%;
    margin: 0 auto; 
    padding: 0;
    border: double 5px #4ec4d3;
}

.create{
    font-size: 25px;
    margin:20px;
}

.blog{
    width:50%;
    padding: 20px 5px;
    margin: 30px auto;
    color: #000435;
    background: #aaBfff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
    text-decoration: none;
}

.blog p {
    margin: 0; 
    padding: 0;
}

div.blog a:hover {
    color:#e4fcff;
}

.naiyou{
    font-size: 30px;
    border: dashed 2px #5b8bd0;/*点線*/
    padding-top: 5px;
}

.artclttl{
    font-size: 40px;
    padding: 10px 20px;
    padding-left:5px;
    width:30%;
    margin: 40px auto;
    color: #232323;
    background: #e8f8ff;
    border-left: solid 10px #6ec0ff;
}